# Copy this file to .env and replace <username> and <password> with your MongoDB Atlas database user details

MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/ccs_db?retryWrites=true&w=majority
PORT=5000
